/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- DOCUMENT --- */

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}