/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- VARIABLES --- */

// neutral
$neutral_100: #F1F2F3;
$neutral_200: #C3CCD4;
$neutral_300: #1B2733;

// green
$green_100: #1B2733;