/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- VARIABLES --- */

// neutral
$neutral_100: #F1F2F3;
$neutral_200: #C3CCD4;
$neutral_300: #1B2733;

// green
$green_100: #697A57;

// font
$font_heading: 'Test Tiempos', serif;
$font_body: 'Aktiv Grotesk', sans-serif;