/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- GLOBAL --- */

@import 'global/variables';
@import 'global/reset';

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- CASCADE --- */

@import "cascade/document";
@import 'cascade/text';